.common-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-contents {
  box-shadow :0px 0px 3px silver;
  border: solid 1px #40E0D0;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 50px;
}

.content-title {
  text-align: center;
  border-bottom: 1px solid #40E0D0;
  width: 250px;
  margin: 40px auto;
  padding-bottom: 20px;
}

#content-lists {
  line-height: 1.5;
  padding: 0.5em 0;
}

#content-lists::before {
  position: absolute;
  left: 1em;
  color: #40E0D0;
}

.contents-title {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 40px;
}

.right-contents {
  text-align: center;
}

.form-title, .form-text {
  margin-bottom: 10px;
}

.title-field, .text-field {
  width: 400px;
  height: 20px;
  border: 1px solid #b5aaaa;
  padding: 10px 16px;
  font-size: 16px;
}

.title-field {
  margin: 0 auto 15px;
}

.text-field {
  height: 200px;
  margin: 0 auto 30px;
}

#form-submit {
  width: 100px;
  margin: 0 auto;
  padding: 10px 30px;
  border: 1px solid white;
  background-color: #40E0D0;
  color: white;
}

.edit-page {
  text-align: center;
}