<h1>マイノート</h1>

<div class="message-form">
  <%= form_with(model: [@user, @note], local: true) do |f| %>
    <%= f.text_field :comment, placeholder: 'メッセージを入力' %>
    <%= f.submit '送信', id: 'submit' %>
  <% end %>
</div>

<div id=''>
  <% @notes.each do |note| %>
    <% if current_user.id == note.user_id %>
      <P><%= note.comment %></p>
    <% end %>
  <% end %>
</div>