<div class="top-page">

  <div class="application-explanation">
    〜SELFY〜<br>
    このアプリケーションは、あなたの自己効力感向上の手助けをします。<br>
   「自己効力感」とは、人が行動や成果を求められる状況下において、「自分は必要な行動をとって、結果を出せる」と考えられる力を言います。<br>
    簡単に言うと、「自分にはできる！！」と自信や確信に満ちた状態であることです。<br>
    SELFYでは、自己効力感の向上に重要なポイントに添ってコンテンツを展開しております。<br>
    各コンテンツを使用して、是非あなたが少しでも前向きな気持ちになれるよう、お気軽にご利用下さい。<br>
  </div>
  
  <div class="top-explanation">
    <div class="">
      成功体験コンテンツでは、「成功経験を積むこと」「他の人の成功体験を見聞きするこ<br>
      と」というポイントに基づいております。<br>
      自身で何かを達成する、成功するという体験は、最も強く自己効力感を向上させます。<br>
      また、他の誰かの成功体験を見聞きすることで、自分にも出来るのではないか、と感じ<br>
      ることです。<br>
      ポイントは、「自分と似た状態の誰か・経験」を見つけることです。<br>
      是非あなたの成功体験を投稿して、皆さんに共有しましょう。
    </div>

    <div class="">
      褒めちぎりコンテンツでは、「自分には能力がある、と言ってもらう」というポイント<br>
      に基づいております。<br>
      また、作成者である私のこだわりで、とにかく褒めちぎってもらって気分を上げていき<br>
      たい、という時に使って欲しいです。<br>
      周りからの励ましや評価、実際に言葉として言ってもらうことで、自身の良いところを<br>
      知り、前向きになれます。<br>
      知人や信頼を置く人物からの言葉がより強く思いを感じるかもしれませんが、ここには<br>
      あなたと似た悩みや状況を抱えている人がいるかもしれません。<br>
      ここでの一つのルールは、「相手の気分がマイナスになるようなことは絶対に言わない<br>
      こと」です。相手を非難したり強い口調で否定したりするようなことはおやめ下さい.<br>
      是非あなたの言葉でまだ見ぬ誰かを、とにかく褒めちぎってあげてください。<br>
    </div>
  </div>

  <div class="bottom-explanation">
    <div class="">
      情緒的喚起コンテンツでは、「生理的・感情的」というポイントに基づいております。<br>
      簡単に言うと、気分や気持ちによって変わると言うことです。例えば、好きな音楽を <br>
      聴いている時は気持ちが上がる、思い切って好きなことをたくさんする、どんなこと <br>
      でも良いんです。<br>
      是非あなたの感情や生理的な変化が起こる出来事を、皆さんへ共有してみましょう。 <br>
    </div>

    <div class="">
      My Noteコンテンツでは、「メモ書き」というポイントに基づいております。<br>
      これは、「0秒思考：頭がよくなる世界一シンプルなトレーニング」という有名な本か<br>
      ら着想を得たものです。本来はA4用紙に短い時間で直接メモ書きを行い、思考の言語<br>
      化を行います。<br>
      しかし、SELFYでは他の各コンテンツと併用して使ってもらうことで、自己効力感向上<br>
      の相乗効果を狙っています。<br>
      メモ書きを行い、思考の整理・言語化を行うもよし。単なるメモ帳代わりに使っても<br>
      よし。使い方はあなた次第です。
    </div>
  <div>

</div>
